#@ load("@ytt:data", "data")
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: install-registry-dockerconfig
  namespace: tap-install
  annotations:
    kapp.k14s.io/change-group: eso/install-registry-dockerconfig
    kapp.k14s.io/change-rule.0: "upsert after upserting eso/secretstore"
spec:
  secretStoreRef:
    name: tap-install-secrets
    kind: SecretStore
  refreshInterval: "1m"
  target:
    name: install-registry-dockerconfig
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: "{{ .dockerconfigjson }}"
  data:
    - secretKey: dockerconfigjson
      remoteRef:
        key: secret/dev/tap-iterate/tap/install-registry-dockerconfig
        property: dockerconfigjson

